* {
    box-sizing: border-box;
}
.row{
    width:100%;
}

h1 { 
        font-size: 200%;
         text-align: center;
         font-weight: bold;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         margin-bottom: 15px;
}
.d1 {
    font-size: 50% ;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    border: 5px brown;
    
}
.pa {
       background-color: burlywood;
       font-size: 150%;
       text-align: center;
       position: relative;
       right: -88%;
       bottom: 100%;
       width: 12%;
       float: inline-end;
}