* {
    box-sizing: border-box;
}
.row{
    width:100%;
}

h1 { 
         text-align: center;
         font-weight: bold;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         margin-bottom: 15px;
}
.d1 {
    font-size: 0.25em;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    margin: 20px;
    border-width: 5px;
    border-color: brown;
    
}
.pa {
       background-color: burlywood;
       font-size: 0.75em;
       width: 5%;
       height: 7%;
       position: relative;
       right: -95%;
}